<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArmA2Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ArmA2Launcher.My.MySettings>
            <setting name="Profile" serializeAs="String">
                <value>ACE</value>
            </setting>
            <setting name="LastProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="A2ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EmptyWorld" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplashScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="World" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldName" serializeAs="String">
                <value />
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PriorityName" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MaxRam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRamName" serializeAs="String">
                <value>2047</value>
            </setting>
            <setting name="MaxVideoRam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxVideoRamName" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="CPUCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUCountName" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExThreads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExThreadsName" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Allocator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllocatorName" serializeAs="String">
                <value>jemalloc_bi</value>
            </setting>
            <setting name="NoLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoMulticore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinXP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilePatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Window" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Signatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Init" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitName" serializeAs="String">
                <value />
            </setting>
            <setting name="Other" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtherName" serializeAs="String">
                <value />
            </setting>
            <setting name="InProfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InProfileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowServers" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Dedi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Empty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotEmpty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotFull" serializeAs="String">
                <value>False</value>
            </setting>
        </ArmA2Launcher.My.MySettings>
    </userSettings>
</configuration>
